<!-- products Details Section -->
  <section id="prodetails" class="section-p1">
    
    <!-- Single Image  -->
    <div class="single-pro-image">
      <img src="./images/products/f1.jpg" alt="" id="mainImg">
      <div class="small-img-group">
        <div class="small-img-col">
          <img src="./images/products/f1.jpg" alt="" class="small-img">
        </div>
        <div class="small-img-col">
          <img src="./images/products/f2.jpg" alt="" class="small-img">
        </div>
        <div class="small-img-col">
          <img src="./images/products/f3.jpg" alt="" class="small-img">
        </div>
        <div class="small-img-col">
          <img src="./images/products/f4.jpg" alt="" class="small-img">
        </div>
      </div>
    </div>

    <!-- Product Details -->
    <div class="single-pro-details">
      <h6>Home / T-Shirt</h6>
      <h4>Men's Fashion T-Shirts Collections</h4>
      <h2>$78.00</h2>
      <select>
        <option>Select Size</option>
        <option>XXL</option>
        <option selected>XL</option>
        <option>Large</option>
        <option>Meduim</option>
        <option>Small</option>
      </select>
      <input type="number" value="1" min="1">
      <button class="normal">Add To Cart</button>
      <h4>Product Details</h4>
      <span>
        Portray your product in a way that sounds appealing to the customer and will help them decide if they should buy it. Use descriptive, compelling, and creative words to write about the product's features and benefits. Also, tell a compelling story about why the t-shirt is worth purchasing
        Shirting fabric is a kind of primarily cotton or cotton blend cloth used to make shirts. These fabrics should be breathable, durable, pleasant to the touch, and comfortable to wear all year round. That is why high thread count and yarn dyed structure are the essential features of shirting fabrics.
      </span>
    </div>

  </section>

  <!-- Featured Products Section -->
  <section id="product1" class="section-p1">
      <h2>Featured Products</h2>
      <p>New Summer Collection Arrivals</p>
      <div class="pro-container">
        <div class="pro">
          <img src="./images/products/n1.jpg" alt="">
          <div class="des">
            <span>Zara</span>
            <h5>Basic Light-blue Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$76</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
          <img src="./images/products/n2.jpg" alt="">
          <div class="des">
            <span>H&M</span>
            <h5>Caroo Nice Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$76</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
          <img src="./images/products/n3.jpg" alt="">
          <div class="des">
            <span>Zara</span>
            <h5>Snow White Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$90</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
          <img src="./images/products/n4.jpg" alt="">
          <div class="des">
            <span>Zain</span>
            <h5>Battern Shirt</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$50</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
      </div>
  </section>

  <!-- NewSletter Section -->
  <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
      <h4>Sign Up For Newsletters</h4>
      <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
      <input type="email" name="email" placeholder="Your email address" autocomplete="email">
      <button class="normal">Sign Up</button>
    </div>
  </section>